@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global background pattern overlay */
/* Global pattern layer */
.pattern-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background-image: url("/images/pattern.png");
  background-repeat: repeat;
  background-size: 260px;
  opacity: 0.3;
}

/* Wrapper harus relative */
.pattern-wrapper {
  position: relative;
}

/* Konten selalu di atas pattern */
.pattern-wrapper > * {
  position: relative;
  z-index: 1;
}

